# Ignore binary executables and files
*.exe
*.out
*.dll
*.so
*.dylib

# Ignore dependency directories
vendor/
node_modules/

# Ignore IDE or editor-specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore binary files
*.gz

# Ignore Go binary
web-crawler
