# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Go binary
*.exe
*.out
*.app

# Build output
/build/

# Ignore the go bin and vendor directories
/bin/
/vendor/

# Dependency directories (created by `go get`)
/Godeps/
/vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore any local config files
.idea/
.vscode/
*.sublime-workspace

# Ignore macOS directory settings
.DS_Store

# Ignore JetBrains GoLand files
.idea/
